.contact-form-content {
    width: 90%;
    margin: 0 auto; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 8px;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

form input[type="text"],
form input[type="email"] {
    width: 70%; 
    color: #fff;
    background: #130f2a;
    border-radius: 0.6rem;
    border: 1.5px solid #6751b9;
    padding: 1rem;
    box-sizing: border-box; 
}


form textarea {
    width: 100%; 
    font-size: 0.9rem;
    color: #fff;
    background: #130f2a;
    border-radius: 0.6rem;
    border: 1.5px solid #6751b9;
    padding: 1rem;
    box-sizing: border-box; 
}
form button {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border: 1.5px solid #a892fa;
    border-radius: 0.6rem;
    background-color:#a892fa;
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:hover {
    color: #a892fe;
    background: transparent;
}

@media (max-width:450px){
    .name-container{
        flex-direction: column;
        align-items: flex-start;
    }
    form input , form textarea{
        padding: 0.7rem;
        border-radius: 0.3rem;
    }
    form button{
        font-size: 0.9rem;
        padding: 0.7rem;
        border-radius: 0.3rem;
    }
    form input[type="text"],
    form input[type="email"] {
    width: 100%; 
    }
}