.nav-wrapper{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index:30;
    backdrop-filter:blur(50px);
}

.nav-content{
    max-width:1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.logo{
    width: 26px;
    height: auto;
}

.nav-content ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style:none;
}
.nav-content li {
    margin:  0 1.5rem;
}

.nav-content .menu-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.menu-item::before{
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg ,#a993fe , #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity:0;
    transform: translateX(-1.5rem);
    transition: all 0.6 ease;
}
.menu-item:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}
.contact-btn{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.contact-btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.contact-btn:active {
    transform: translateY(-1px);
}

.menu-btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background: linear-gradient(90deg ,#a993fe -0.13% , #7e61e7 99.87%);
    line-height: 0;
    cursor: pointer;
    transition: all 0.4 ease;
    display: none;
}

.menu-btn:hover{
    color: #a993fe;
    background: #000;
    border:1px solid #a993fe;
}
@media (max-width: 425px) {
    .logo {
        width: 6rem;
        height: auto;
    }
}

@media (max-width: 768px) {
    .nav-wrapper{
        height: 110px;
    }
    .nav-content {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
    }
    .menu-btn {
        display: block;
        position: absolute;
        top: 28px;
        right: 12px;
    }

    .nav-content ul {
        display: none; 
    }

    .nav-wrapper.open .nav-content ul {
        display: flex;
    }
}

@media (max-width: 1325px) {
    .nav-wrapper {
        padding: 0 2rem;
    }
}
